The program will run on windows devices using anaconda via the .ipynb file in Jupyter Notebook.

In order to run on a raspberry Pi, lines 4, 5 and 6 in config.py should be commented out. They are:

sys.path.insert(0, os.path.join(os.path.dirname(__file__), 'langchain_core'))
sys.path.insert(0, os.path.join(os.path.dirname(__file__), 'langchain_openai'))
sys.path.insert(0, os.path.join(os.path.dirname(__file__), 'openai'))

The packages listed below are installed in the local environment as well:


MarkupSafe==2.1.5
PyYAML==6.0.2
RPi.GPIO==0.7.1
SQLAlchemy==2.0.34
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==24.2.0
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorzero==2.0
dataclasses-json==0.6.7
distro==1.9.0
exceptiongroup==1.2.2
fastapi==0.114.1
flask==3.0.3
frozenlist==1.4.1
gpiozero==2.0.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
importlib-metadata==4.13.0
importlib-resources==5.13.0
itsdangerous==2.2.0
jinja2==3.1.4
jiter==0.5.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema-specifications==2023.12.1
jsonschema==4.23.0
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langchain==0.2.16
langserve==0.2.3
langsmith==0.1.117
marshmallow==3.22.0
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
numpy==1.26.4
openai==1.45.1
orjson==3.10.7
packaging==24.1
pigpio==1.78
pillow==10.4.0
pip==20.3.4
pkg-resources==0.0.0
pydantic-core==2.23.3
pydantic==2.9.1
pyproject-toml==0.0.10
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
rpds-py==0.20.0
setuptools==44.1.1
sniffio==1.3.1
sse-starlette==1.8.2
starlette==0.38.5
tenacity==8.5.0
tiktoken==0.7.0
toml==0.10.2
tqdm==4.66.5
typing-extensions==4.12.2
typing-inspect==0.9.0
urllib3==2.2.2
uvicorn==0.30.6
werkzeug==3.0.4
wheel==0.44.0
yarl==1.11.0
zipp==3.20.2